* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #1a1a1a;
    font-family: 'Montserrat', sans-serif;
}

.float_right {
    float: right;
}

.logo_social_footer {
    width: 40px;
    margin: 10px;
    float: left;
}

.h_100 {
    height: 98%;
}
.w_100 {
    width: 100%;
}

/* HEADER */

header {
    height: 20vh;
    width: 100%;
    padding: 0 25px;
    text-transform: uppercase;
    color: var(--green-hitech);
    background-color: black;
}

.text_green {
    color: var(--green-hitech);
}

.logo{
    height: 100%;
}
.logo > img {
    height: 100%;
}

nav > ul {
    display: flex;
}

nav > ul > li {
    font-size: 25px;
    margin-right: 15px;
    list-style: none;
}

/* /HEADER */


/* MAIN */
main {
    height: 100vh;
    width: 100%;
    background-image: url(img/hi-tech_black_logo.png);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: bottom;
}


/* /MAIN */


/* FOOTER */

footer {
    border-top: 25px solid var(--green-hitech);
}
footer > ul {
    float: left;
    margin: 30px;
    text-decoration: none;
    list-style: none;
}

footer > ul > li > a,
footer > ul > li {
    text-decoration: none;
    color: var(--green-hitech);
    font-weight: 800;
}

/* /FOOTER */

/* RESPONSIVE */

@media screen and (max-width: 768px) {

    header {
        width: 100%;
    }


    footer {
        z-index: 5;
    }

    .navbar-toggler {
        border-color: var(--green-hitech);
    }

    .navbar-toggler-icon > i {
        color: var(--green-hitech);
        height: 100%;
        margin: 5px;
    }

    main {
        background-size: 28%;
    }


    
    
    
    
}

@media screen and (min-width: 1024px) {
    
    .nav_bar {
        justify-content: flex-end;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
    }
    .container_navbar {
        height: 15vh;
        justify-content: space-between;
    }
    
    main {
        background-size: 70%;
    }
    
}
/* /RESPONSIVE */

:root {
    --green-hitech: #79c324 ;
}